.detail-background{
    width: 100%;
    height: 660px;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    button{
        background: none;
        color: var(--white);
        margin-top: 14.8rem;
        font-size: 1.8rem;
        font-weight: 500;
    }
}

.detail__info-container{
    background: var(--white);
    padding: 56px 0 72px;
    margin-top: -40px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 50px 50px 0px 0px;
    border-radius: 50px 50px 0px 0px;

    .detail__info{
        h1{
            color: var(--black);
            font-size: 6.4rem;
            font-weight: 900;
        }
    }

    .detail__info-location{
        display: flex;
        align-items: center;
        gap: 8px;

        h5{
            color: var(--black, #141414);
            font-size: 16px;
            font-weight: 500;
        }
    }

    h3{
        color: var(--black, #141414);
        font-size: 24px;
        font-weight: 700;
        margin-top: 4.8rem;
        margin-bottom: 1.6rem;
    }

    p{
        color: var(--black, #141414);
        font-size: 18px;
        font-weight: 400;
        line-height: 142.3%; /* 25.614px */
    }

    .review__user{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 1.6rem;
    }

    h4{
        color: var(--black, #141414);
        font-size: 18px;
        font-weight: 500;
    }

    .book__btn{
        width: 100%;
        background: var(--primary);
        margin-top: 16rem;
        border-radius: 100px;
        color: var(--white, #FFF);
        font-size: 24px;
        font-weight: 500;
    }


}

.book{
    position: fixed;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background: #25252535;


    .book__container{
        width: 680px;
        background: var(--white);
        border-radius: 50px;
        padding: 4rem;

        .book__close{
            display: flex;
            justify-content: space-between;
            align-items: center;

            img{
                cursor: pointer;
            }
        }

        h2{
            color: var(--black, #141414);
            font-size: 48px;
            font-weight: 700;
        }

        p{
            color: var(--black, #141414);
            font-size: 18px;
            font-weight: 400;
            margin: 2rem 0 3.2rem;
        }

        label{
            cursor: initial;
            color: var(--gray, #888);
            font-size: 16px;
            font-weight: 400;
        }

        input{
            padding: 20px;
            color: var(--gray, #888);
            font-size: 18px;
            font-weight: 400;
        }
    }

    .people-count{

        .counter{
            margin-top: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1.6rem;

            h3{
                font-size: 2rem;
                font-weight: 700;
            }

            button{
                border-radius: 16px;
                padding: 0;
                width: 4.2rem;
                height: 4.8rem;
                background: #897CFF;
            }
        }
    }

    .book__form-submit{
        margin-top: 4.8rem;
        width: 100%;
        background: var(--inactive);
        border-radius: 30px;
    }
}

.book-hide{
    display: none;
}

.book__form{

    display: flex;
    flex-direction: column;

    .book__form-phone{
        display: flex;
        align-items: center;
        position: relative;

        .show__phone-flag{
            display: flex;

            .country__option{
                background: white !important;
            }
        }

        .select__phone-flag{
            display: flex;
            top: 100%;
            display: flex;
            flex-direction: column;
            position: absolute;
        }


        .phone__select-active{
            display: none;
        }


        .country__option{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            cursor: pointer;
            padding: 1rem;
            background: #efefef;
            transition: background 0.5s ease-in-out;

            &:hover{
                background: #f9f9f9;
            }
        }

        .phone__arrow{
            position: relative;
            top: 10%;
            content: "";
            transform: translateY(-50%) rotate(45deg);

            width: 0.6rem;
            height: 0.6rem;
            border-right: .2rem solid #000;
            border-bottom: .2rem solid #000;
        }
    }
}